<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<html>
<body>

<h1>Cos 333 Registrar Search</h1>

Search: <input type="search" id="mySearch" value="">

<button onclick="Search()">Search</button>

<p id="searchbar"></p>

<script>
function Search() {
  var str1 = window.location.href;
  var str2 = document.getElementById("mySearch").value;
  var res = str1.concat(str2);
   window.open(res, '_blank');
}
</script>




<button onclick="append_count()"> Count</button>

<p id="count"></p>

<script>
function append_count() {
    var searchcode = document.getElementById("mySearch").value;
    if (searchcode.length == 3) {
        var str1 = window.location.href;
        var str2 = "count/";
        var res = str1.concat(str2);;
        var final = res.concat(searchcode);
        window.open(final, '_blank');
    }
    else {
        var str1 = window.location.href;
        var str2 = "count";
        var res = str1.concat(str2);
        <!-- document.getElementById("count").innerHTML = res; -->
        window.open(res, '_blank');
    }
}
</script>


<button onclick="append_clear()"> Clear</button>

<p id="clear"></p>

<script>
function append_clear() {
    var searchcode = document.getElementById("mySearch").value;
    if (searchcode.length == 3) {
        var str1 = window.location.href;
        var str2 = "clear/";
        var res = str1.concat(str2);
        var final = res.concat(searchcode);
        window.open(final, '_blank');
    } else {
        var str1 = window.location.href;
        var str2 = "clear";
        var res = str1.concat(str2);
        <!-- document.getElementById("clear").innerHTML = res; -->
        window.open(res, '_blank');
    }
}
</script>


</body>
</html>