<!-- chat/templates/chat/about.html -->
<!-- About page -->

{% extends "chat/base.html" %}

{% block js_content %}
{% endblock %}

{% block disabled_chatrooms %}disabled{% endblock %}

{% block content %}
  <div class="ui container" style="margin-top: 20px;">

    <h1>About TigerMeet</h1>
    <div class="ui stackable grid">
      <div class="row">
        <div class="fifteen wide column top aligned">
          <p>TigerMeet is a web application that enables Princeton University students to connect with other students for recreation, transportation, and academic coordination. It is divided into sections of general interest (i.e. Sports, Transportation) each with a general chat as well as the ability to create specific events with chatrooms for users to connect.</p>
        </div>
      </div>

    </div>

    <div class="ui inverted divider"></div>

    <h1>Team</h1>
    <div class="ui four column stackable grid">

      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/static/alin.png">
          </div>
          <div class="content">
            <div class="header">Andrew Lin '21</div>
            <div class="description">
              <div class="ui divider"></div>
              <p>arlin(at)princeton.edu</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/static/bkiyan.png">
          </div>
          <div class="content">
            <div class="header">Bora Kiyan '20 <span class="ui label">Team Leader</span></div>
            <div class="description">
              <div class="ui divider"></div>
              <p>bkiyan(at)princeton.edu</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/static/dwu.jpg">
          </div>
          <div class="content">
            <div class="header">David Wu '19</div>
            <div class="description">
              <div class="ui divider"></div>
              <p>dpwu(at)princeton.edu</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/static/rpark.jpg">
          </div>
          <div class="content">
            <div class="header">Raymond Park '21</div>
            <div class="description">
              <div class="ui divider"></div>
              <p>rkp2(at)princeton.edu</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="ui inverted divider"></div>

    <h1>Advisors</h1>
    <div class="ui four column stackable grid">

      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/static/jlu.png">
          </div>
          <div class="content">
            <div class="header">Jace Lu</div>
            <div class="description">
              <p>COS 333 Advisor (Spring 2019)</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/static/bkernighan.jpg">
          </div>
          <div class="content">
            <div class="header">Professor Brian W. Kernighan</div>
            <div class="description">
              <p>COS 333 Instructor (Spring 2019)</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="ui inverted divider"></div>

    <h1>Documents</h1>
    <div class="ui stackable grid">
      <div class="row">
        <div class="column">
            <div class="ui list">
              <div class="item"><strong><i class="file alternate outline icon"></i> <a href="../../static/TigerMeet_Design_Document.pdf">Design Document</a></strong></div>
              <div class="item"><strong><i class="file alternate outline icon"></i> Demonstration Slides</strong></div>
              <div class="item"><strong><i class="file alternate outline icon"></i> Final Document</strong></div>
            </div>
        </div>
      </div>
    </div>

    <div class="ui inverted divider"></div>

    <h1>Timeline</h1>
    <div class="ui stackable grid">
      <div class="row">
        <div class="column">
          <div class="ui list">
            <div class="item">
              <strong>Sunday, 3/17/2019 (After Week 6)</strong>
              <div class="ui bulleted list">
                <div class="item">Get a server up and running</div>
                <div class="item">Create one section</div>
                <div class="item">Deploy app on Heroku</div>
              </div>
            </div>
            <div class="item">
              <strong>Sunday, 3/24/2019 (After Spring Break)</strong>
              <div class="ui bulleted list">
                <div class="item">Add database</div>
                <div class="item">Create an About page</div>
                <div class="item">Create the chat room => Have functional app with one chat room</div>
                <div class="item">Style section</div>
              </div>
            </div>
            <div class="item">
              <strong>Sunday, 3/31/2019 (After Week 7)</strong>
              <div class="ui bulleted list">
                <div class="item">Create event functionality => Have functional app with one chat room and event functionality</div>
                <div class="item">Expand to multiple sections and chat rooms => Have functional app with multiple chatrooms and event functionality</div>
              </div>
            </div>
            <div class="item">
              <strong>Sunday, 4/7/2019 (After Week 8)</strong>
              <div class="ui bulleted list">
                <div class="item">Add Authentication</div>
                <div class="item">Flesh out user interface</div>
                <div class="item">Project Prototype on Friday, 4/12/2019</div>
              </div>
            </div>
            <div class="item">
              <strong>Sunday, 4/14/2019 (After Week 9)</strong>
              <div class="ui bulleted list">
                <div class="item">Testing and major debugging</div>
                <div class="item">Find initial users</div>
              </div>
            </div>
            <div class="item">
              <strong>Sunday, 4/21/2019 (After Week 10)</strong>
              <div class="ui bulleted list">
                <div class="item">Share with entire school</div>
                <div class="item">Alpha Test on Friday, 4/26/2019</div>
              </div>
            </div>
            <div class="item">
              <strong>Sunday, 4/28/2019 (After Week 11)</strong>
              <div class="ui bulleted list">
                <div class="item">Beta Test on Friday, 5/3/2019</div>
              </div>
            </div>
            <div class="item">
              <strong>Sunday, 5/5/2019 (After Week 12)</strong>
              <div class="ui bulleted list">
                <div class="item">Victory</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui inverted divider"></div>

    <h1>Acknowledgments</h1>
    <div class="ui stackable grid">
      <div class="row">
        <div class="column">
          <p>Thank you to Demi Zhang '20 for the TigerMeet logo.</p>
          <p>Thank you to Scott Cevera for the background image (<a href="https://www.flickr.com/photos/scottcevphotos/16294668092/">Source</a>).</p>
        </div>
      </div>
    </div>

  </div> <!-- ui container -->
{% endblock %}
