<script type="text/javascript">
    var url = "?access_token=" + {{ access_token }};
    var addurl = '/add/' + url;
    </script>

<form action={{addurl} method="post">
{% csrf_token %}
  <label for="title">Title</label><br />
  <input type="text" name="title" id="title" />
  <br>
  <label for="text">Text</label><br />
  <textarea name="text" id="text"></textarea>
  <br><br>
  <label for="time">Time</label><br />
  <textarea name="time" id="time"></textarea>
  <br><br>
  <input type="submit" value="Submit and Create Event Chat" />
</form>
<br>

<a href="/">Go Back</a>