
<script type="text/javascript">
    var name = {{ group_name }};
    var id = {{ id }};
    var url = "?access_token=" + {{ access_token }};
    var destroy = '/delete/';
     {#+ id + '/' + name + url#}
  </script>


<p> Would you like to delete this chat?</p>
        <button class="ui left floated button" type="button" onclick="location.href=destroy;">Yes</button>
 <button id ="delete" class="btn btn-mini btn-primary" type="button" href="fill"
        onclick="location.href=destroy; return false;">Delete</button>
  <br>
