<!DOCTYPE html>
<html>
<head>

     <script type="text/javascript">
  var url = "?access_token=" + {{ access_token }};
  var test = "hi";// + {{ group_name }};
  </script>

    <script type="text/javascript">
    var name = {{ group_name }};
    window.onload = function() {
    document.getElementById("myGroup").innerHTML=name;
    document.getElementById("myGroup1").innerHTML=name;
}
    </script>
</head>
<body>

<!--< id="myToken"> </a>-->
<h1> Events Page for <a id="myGroup">chatname</a></h1>
<a href="fill" onclick="location.href='/test/'+ test; return false;" >Join <a id="myGroup1">chatname</a> Chat</a>

</body>
</html>