<!DOCTYPE html>
<html>
<head>

     <script type="text/javascript">
  //var url = "?access_token=" + {{ access_token }};
  //var test = + {{ group_name }};
  </script>

    <script type="text/javascript">
    var name = {{ group_name }};
    var allurl = '/makechat/' + name;
    var url = "?access_token=" + {{ access_token }};
    window.onload = function() {
    document.getElementById("myGroup").innerHTML=name;
    document.getElementById("myGroup1").innerHTML=name;
    //document.getElementById("myGroup2").innerHTML=name;
    allurl = '/makechat/' +sports + url;
}
    </script>
</head>
<body>

<!--< id="myToken"> </a>-->
<h1> Events Page <a id="myGroup">chatname</a></h1>
<!-- <a href="fill" onclick="location.href='/test/'+ test; return false;" >Join <a id="myGroup1">chatname</a> Chat</a> -->
    <a href="fill" onclick="location.href=allurl; return false;" >Join <a id="myGroup1">chatname</a> Chat</a>

</body>
</html>