<!-- chat/templates/chat/gmlogin.html -->
<!-- Login page that you have to go through before doing anything in the app -->

{% extends "chat/base.html" %}

{% block js_content %}
  <script type="text/javascript">
    const url = "?access_token=" + {{ access_token }};
  </script>
{% endblock %}

{% block content %}
  <div class="ui middle aligned center aligned grid" style="margin: 10px;">
    <div class="row">
      <div class="column">
        <img class="ui small centered image" src="{% static 'cub.png' %}">
        <h1 class="ui inverted header" style="margin-top: 0;">
          <div class="content">
            Welcome to TigerMeet
          </div>
          <div class="sub header">TigerMeet is a web application that enables Princeton University students to connect with other students for recreation, transportation, and academic coordination. It is divided into sections of general interest (i.e. Sports, Transportation) each with a general chat as well as the ability to create specific events with chatrooms for users to connect.</div>
        </h1>

        <button class="ui massive orange button" type="button" onclick="location.href='https://oauth.groupme.com/oauth/authorize?client_id=FRktMGR3ZWsOkuUjEB4PltryBQO9HaQN9aH6tlk0CZOCBp8z';">
          Login to TigerMeet with GroupMe
        </button>

        <h2>How It Works</h2>

      </div>
    </div>

    <div class="row" style="padding-top: 0;">

        <div class="left aligned column">

          <div class="ui vertical fluid steps">
            <div class="step">
              <i class="user outline icon"></i>
              <div class="content">
                <div class="title">1. Login</div>
                <div class="description">Login using GroupMe. Create a GroupMe account if you don't have one already.</div>
              </div>
            </div>
            <br>
            <div class="step">
              <i class="list alternate outline icon"></i>
              <div class="content">
                <div class="title">2. Check Out Categories</div>
                <div class="description">Check out six different categories: 1) Sports, 2) Working Out, 3) Video Games, 4) Transportation, 5) Problem Set Groups, 6) Miscellaneous.</div>
              </div>
            </div>
            <br>
            <div class="step">
              <i class="calendar alternate icon"></i>
              <div class="content">
                <div class="title">3. See, Join, and Make Events</div>
                <div class="description">Check out student-made events under each category, each with their own event group chat.</div>
              </div>
            </div>
            <br>
            <div class="step">
              <i class="comments icon"></i>
              <div class="content">
                <div class="title">4. Chat in General Chats</div>
                <div class="description">Join and chat in the general group chat for each category.</div>
              </div>
            </div>
          </div>

        </div>
    </div>
    
  </div>
{% endblock %}