<!-- chat/templates/chat/index.html -->
<!-- Home page that links to all the categories -->

{% extends "chat/base.html" %}

{% block js_content %}
  <script type="text/javascript">
    const url = "?access_token=" + {{ access_token }};
  </script>
{% endblock %}

{% block content %}
  <div class="ui middle aligned center aligned grid" style="margin: 10px;">
    <div class="column">
      <img class="ui small centered image" src="{% static 'cub.png' %}">

      <h4 style="margin-top: 0;">TigerMeet is a web application that enables Princeton University students to connect with other students for recreation, transportation, and academic coordination. It is divided into sections of general interest (i.e. Sports, Transportation) each with a general chat as well as the ability to create specific events with chatrooms for users to connect.</h4>

      <h2>Explore the Categories</h2>

      <h4>Click one of the categories below to see what student-made events are currently available or chat in the general chats.</h4>

      <div class="ui large vertical buttons">
        <!-- Changes url to /chatname with the authentication token appended -->
        <a class="ui red button" href="fill" onclick="location.href='/category/sports'+url; return false;" >
          <i class="futbol alternate icon"></i>
          Sports
        </a>
        <a class="ui orange button" href="fill" onclick="location.href='/category/workingout'+url; return false;" >
          <i class="heart icon"></i>
          Working Out
        </a>
        <a class="ui yellow button" href="fill" onclick="location.href='/category/videogames'+url; return false;" >
          <i class="gamepad icon"></i>
          Video Games
        </a>
        <a class="ui green button" href="fill" onclick="location.href='/category/transportation'+url; return false;" >
          <i class="car icon"></i>
          Transportation
        </a>
        <a class="ui blue button" href="fill" onclick="location.href='/category/problemsetgroups'+url; return false;" >
          <i class="pencil alternate icon"></i>
          Problem Set Groups
        </a>
        <a class="ui violet button" href="fill" onclick="location.href='/category/miscellaneous'+url; return false;" >
          <i class="ellipsis horizontal icon"></i>
          Miscellaneous
        </a>
      </div>

    </div>
  </div>
{% endblock %}
