<!-- chat/templates/chat/index.html -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Setup -->
  <title>TigerMeet</title>
  <link rel="icon" type="image/png" href="{% static 'cub.png' %}">

  <!-- Semantic UI -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

  <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>

<!-- Navbar -->
<script>
  url = "/chat/?access_token=" + {{ access_token }}
  window.onload = function() {
  document.getElementById("url").innerHTML = url;
}
</script>
<div class="ui pointing menu" style="margin-bottom: 0; border-radius: 0;">
  <a class="item" href="/">
    <img src="{% static 'cub.png' %}">
  </a>
  <div class="ui simple dropdown item">
    Chatrooms <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="url" >Sports</a>
      <a class="item" href="/workingout">Working Out</a>
      <a class="item" href="/videogames">Video Games</a>
      <a class="item" href="/transportation">Transportation</a>
      <a class="item" href="/problemsetgroups">Problem Set Groups</a>
      <a class="item" href="/miscellaneous">Miscellaneous</a>
      <a class="item" href="https://oauth.groupme.com/oauth/authorize?client_id=AWKH6CxG0zTyz1cXWKZPvomGOkVdTW3jJb8nVYTJMljPKvDI">GroupMe Login</a>
    </div>
  </div>
  <div class="right menu">
    <a class="ui item" href="/about">
      About
    </a>
    <a class="ui item" href="/logout">
      Logout
    </a>
  </div>
</div>

<div class="ui bottom attached segment pushable" style="margin-bottom: 0;">

  <!-- Sidebar -->
  <div class="ui visible left vertical sidebar thin menu">
    <a class="item" href="/sports">
      <i class="futbol alternate icon"></i>
      Sports
    </a>
    <a class="item" href="/workingout">
      <i class="heart icon"></i>
      Working Out
    </a>
    <a class="item" href="/videogames">
      <i class="gamepad icon"></i>
      Video Games
    </a>
    <a class="item" href="/transportation">
      <i class="car icon"></i>
      Transportation
    </a>
    <a class="item" href="/problemsetgroups">
      <i class="pencil alternate icon"></i>
      Problem Set Groups
    </a>
    <a class="item" href="/miscellaneous">
      <i class="ellipsis horizontal icon"></i>
      Miscellaneous
    </a>
    <a class="item" href="https://oauth.groupme.com/oauth/authorize?client_id=AWKH6CxG0zTyz1cXWKZPvomGOkVdTW3jJb8nVYTJMljPKvDI">
      GroupMe Login
      <i class="ellipsis horizontal icon"></i>
    </a>
  </div>

  <!-- Content -->
  <div class="pusher">
    <div class="ui basic segment">
      <h1>TigerMeet</h1>

      What chat room would you like to enter?<br/>
      <div class="ui action input">
        <input id="room-name-input" type="text"/>
        <button id="room-name-submit" class="ui button">Search</button>
      </div>
    </div>
  </div>

</div>

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e)
    {
        if (e.keyCode === 13) // Enter, Return
        {
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e)
    {
        const roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/' + roomName;
    };
</script>
</body>
</html>