<!-- page after successfully joining sports chat -->
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
    //var token = {{ access_token }};
    var Group_id = {{ group_id }};
    var Group_name = {{ group_name }};
    window.onload = function() {
    document.getElementById("myGroupId").innerHTML=Group_id;
    document.getElementById("myGroupName").innerHTML=Group_name;
}
    </script>
</head>
<body>

<!--< id="myToken"> </a>-->
<h1>Groupme <a id="myGroupName"> myGroupName</a><a id="myGroupId"> myGroupId</a> Joined!</h1>

<script>
  $(document).ready(function(){
    $('#MyButton').click(function(){
       LaunchApp();
    });
  });
</script>

<input type="button" value="Open in GroupMe" id="MyButton" >

<script type="text/javascript">

    // detect if safari mobile
    function isMobileSafari() {
        return navigator.userAgent.match(/(iPod|iPhone|iPad)/) && navigator.userAgent.match(/AppleWebKit/)
    }
    //Launch the element in your app if it's already installed on the phone
    function LaunchApp(){
      window.open("GroupMe://","_self");
    };

    if (isMobileSafari()){
        // To avoid the "protocol not supported" alert, fail must open itunes store to dl the app, add a link to your app on the store
        var appstorefail = "https://itunes.apple.com/app/GroupMe";
        var loadedAt = +new Date;
        setTimeout(
          function(){
            if (+new Date - loadedAt < 2000){
              window.location = appstorefail;
            }
          }
        ,100);
        LaunchApp()

    }

</script>

</body>
</html>