 <script type="text/javascript">
    var name = {{ group_name }};
    var id = {{ id }};
    var url = "?access_token=" + {{ access_token }};
    var destroy = '/deleteconfirmation/' + id + '/' + name + url;
  </script>


<a href="/"><< Go Back</a>
<br>
<h1>{{todo.title}}</h1>
<p>{{todo.text}}</p>
<p>{{todo.time}}</p>
<p>Current Size: {{todo.Size}}</p>
<button id ="delete" class="btn btn-mini btn-primary" type="button" href="fill"
      onclick="location.href=destroy; return false;">Delete this chat</button>
<br>


<div class="ui modal">
<i class="close icon"></i>
<div class="header">
  Profile Picture
</div>
<div class="image content">
  <div class="ui medium image">
    <img src="/images/avatar/large/chris.jpg">
  </div>
  <div class="description">
    <div class="ui header">We've auto-chosen a profile image for you.</div>
    <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
    <p>Is it okay to use this photo?</p>
  </div>
</div>
<div class="actions">
  <div class="ui black deny button">
    Nope
  </div>
  <div class="ui positive right labeled icon button">
    Yep, that's me
    <i class="checkmark icon"></i>
  </div>
</div>
</div>
<script>
  $('.ui.modal')
    .modal('show')
  ;
</script>