    <script type="text/javascript">
    var token = {{ access_token }};
    </script>



    <ul>
      {% for todo in todos3 %}
      	{% if {{todo.UserId}} == 'token' %}
        	<li><a href="/details/{{todo.id}}">{{todo.title}}</a>: {{todo.text}}</li>
        {% else %}
        	<li><a href="/details/{{todo.id}}">bok</a>: bok</li>
      {% endif %}
      {% endfor %}

      <!--
      {% for todo in todos2 %}
        <li><a href="/details/{{todo.id}}">{{todo.title}}</a>: {{todo.text}}</li>
      {% endfor %}
      {% for todo in todos3 %}
        <li><a href="/details/{{todo.id}}">{{todo.title}}</a>: {{todo.text}}</li>
      {% endfor %}
      {% for todo in todos4 %}
        <li><a href="/details/{{todo.id}}">{{todo.title}}</a>: {{todo.text}}</li>
      {% endfor %}
      {% for todo in todos5 %}
        <li><a href="/details/{{todo.id}}">{{todo.title}}</a>: {{todo.text}}</li>
      {% endfor %}
      {% for todo in todos6 %}
        <li><a href="/details/{{todo.id}}">{{todo.title}}</a>: {{todo.text}}</li>
      {% endfor %}
      -->

	</ul>