body {
    color: white;
    background-image: url("duelingTigersO50.png");
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}